<div class="button-group">
  <button (click)="onAddToShoppingList()">Add to shopping list</button>
  <button (click)="onEditRecipe()">Edit recepie</button>
  <button class="btn-danger">Delete recepie</button>
</div>

<div class="detail-card">
  <div class="img-container">
    <img src="../../../../assets/img/defaultImg.jpg" alt="{{recipe.name}}">
  </div>

  <div class="info">
    <h3>{{recipe.name}}</h3>
    <p>{{recipe.description}}</p>
    <ul>
      <li *ngFor = "let ingredient of recipe.ingredients">{{ingredient.name}} - {{ingredient.amount}}</li>
    </ul>
  </div>
</div>
