<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recepie Book</a>
    </div>

    <div class="">
      <ul class="">
        <li><a href="#">Recepies</a></li>
        <li><a href="#">Shopping List</a></li>
      </ul>

      <ul class="">
        <li class="">
          <a href="#" class="" role="button">Manage</a>
          <ul class="">
            <li><a href="#">Save data</a></li>
            <li><a href="#">Fetch data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>