<form (ngSubmit) = "onAddItem(f)" #f="ngForm">
  <input 
    type="text" 
    id="name" 
    placeholder="Enter ingredient name" 
    name="name"
    ngModel
    required
    >

  <input 
    type="number" 
    id="amount" 
    placeholder="0"
    name="amount"
    ngModel
    required
    pattern = "^[1-9]+[0-9]*$"
    >

  <div class="button-group">
    <button type="submit" [disabled] = "!f.valid">Add ingredient</button>
    <button type="button">Clear</button>
    <button type="button" class="btn-danger">Delete</button>
  </div>
</form>
