<form>
  <div>
    <button type="submit">Save</button>
    <button type="button" class="btn-danger">Cancel</button>
  </div>

  <div class="form-controls">
    <input type="text" placeholder="Name">
    <input type="text" placeholder="Image url">
    <img src="" alt="">
    <Textarea>Description</Textarea>
    <h4>Ingredients:</h4>
    <div class="ingredient-row">
      <input type="text" placeholder="Ingredient">
      <input type="number" placeholder="Amount">
      <button type="button" class="btn-danger">X</button>
    </div>
  </div>
</form>
