<form [formGroup] ="recipeForm" (ngSubmit) ="onSubmit()">
  <div>
    <button type="submit">Save</button>
    <button type="button" class="btn-danger">Cancel</button>
  </div>

  <div class="form-controls">
    <input type="text" placeholder="Name" formControlName="name">
    <input type="text" placeholder="Image url" formControlName="imagePath">
    <img src="" alt="">
    <textarea type="text" formControlName="description" rows="4">Description</textarea>
    <h4>Ingredients:</h4>
    <div class="ingredient-row">
      <input type="text" placeholder="Ingredient">
      <input type="number" placeholder="Amount">
      <button type="button" class="btn-danger">X</button>
    </div>
  </div>
</form>
